{% comment  %} Form for setting user permissions on an object {% endcomment %}

<form class="ajax_form" method="post" action="{{url}}">
    <ul id="errors"></ul>
    <table>
    {% if user_id or group_id %}
        <input type="hidden" name="user" value="{{user_id|default:''}}"/>
        <input type="hidden" name="group" value="{{group_id|default:''}}"/>
    {% else %}
        <tr><td>{{form.user.label}}</td><td>{{form.user}}</td></tr>
        <tr><td>{{form.group.label}}</td><td>{{form.group}}</td></tr>
    {% endif %}
        <tr><td>{{form.permissions}}</td></tr>
    </table>
    <input type="submit" class="submit" value="Save"/>
</form>